.task {
  background: var(--gray-500);

  min-height: 7.2rem;
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.2rem;
}

.task + .task {
  margin-top: 1.6rem;
}

.task:has( input[type=checkbox]:checked) {
  border-color: var(--gray-500);
  box-shadow: none;
}
.task:has( input[type=checkbox]:checked) > p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.task > p {
  font-size: 1.4rem;
  line-height: 2rem;
  flex: 1;
}