.wrapper {
  min-height: 100vh;
  background-color: var(--gray-600);
  padding-bottom: 2.4rem;
}

.header {
  background-color: var(--gray-700);

  height: 20rem;

  display: grid;
  place-items: center;
}

.wrapper > main {
  width: min(95%, 73.6rem);
  margin: 0 auto;
  margin-top: -2.8rem;
}

.tasks {
  margin-top: 6.4rem;
}

.tasks .tasksInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks .tasksInfo > p {
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
}

.tasks .tasksInfo > p span {
  background-color: var(--gray-500);
  color: var(--gray-200);

  font-size: 1.2rem;
  line-height: 1.5rem;

  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 99.9rem;
  margin-left: 0.8rem;
  text-align: center;
}

.tasks .toDoList {
  list-style: none;
  margin-top: 2.4rem;
}

.empty {
  display: none;
}

.tasks .toDoList:empty + .empty {
  display: flex;
  color: var(--gray-300);
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;

  padding: 6.4rem 0;
  margin-top: 2.4rem;

  border-top: 1px solid var(--gray-400);
}

.empty > svg {
  width: 5.6rem;
  height: 5.6rem;
}

.empty > p > strong {
  font-weight: 700;
}
